# format options

--allman false
--binarygrouping 4,8
--commas inline
--comments indent
--decimalgrouping 3,6
--elseposition same-line
--empty void
--exponentcase lowercase
--exponentgrouping disabled
--fractiongrouping disabled
--header ignore
--hexgrouping 4,8
--hexliteralcase uppercase
--ifdef no-indent
--indent 4
--indentcase false
--importgrouping testable-bottom
--linebreaks lf
--octalgrouping 4,8
--operatorfunc spaced
--patternlet hoist
--ranges no-space
--self remove
--semicolons never
--stripunusedargs closure-only
--trimwhitespace always
--wraparguments preserve
--wrapcollections preserve
--xcodeindentation disabled

# rules

--enable andOperator
--enable anyObjectProtocol
--enable blankLinesAroundMark
--enable blankLinesAtEndOfScope
--disable blankLinesAtStartOfScope
--enable blankLinesBetweenScopes
--enable braces
--enable consecutiveBlankLines
--enable consecutiveSpaces
--enable duplicateImports
--enable elseOnSameLine
--enable emptyBraces
--disable fileHeader
--enable hoistPatternLet
--enable indent
--enable isEmpty
--enable leadingDelimiters
--enable linebreakAtEndOfFile
--enable linebreaks
--disable numberFormatting
--enable redundantBackticks
--enable redundantBreak
--enable redundantExtensionACL
--enable redundantFileprivate
--enable redundantGet
--enable redundantInit
--enable redundantLet
--enable redundantLetError
--enable redundantNilInit
--enable redundantObjc
--enable redundantParens
--enable redundantPattern
--enable redundantRawValues
--enable redundantReturn
--disable redundantSelf
--enable redundantVoidReturnType
--enable semicolons
--enable spaceAroundBraces
--enable spaceAroundBrackets
--enable spaceAroundComments
--enable spaceAroundGenerics
--enable spaceAroundOperators
--enable spaceAroundParens
--enable spaceInsideBraces
--enable spaceInsideBrackets
--enable spaceInsideComments
--enable spaceInsideGenerics
--enable spaceInsideParens
--disable specifiers
--disable strongOutlets
--enable strongifiedSelf
--enable todos
--disable trailingClosures
--enable trailingCommas
--enable trailingSpace
--enable typeSugar
--enable unusedArguments
--enable void
--enable wrapArguments
--disable wrapMultilineStatementBraces
--disable yodaConditions
